In [31]:
import os

folder_pwd = os.getcwd()
os.chdir('..')
os.chdir('../resources')
resources_path = os.getcwd()
os.chdir(folder_pwd)

In [32]:
image_folder = "/images/1"
csv_folder = '/images'

files = os.listdir(resources_path+csv_folder)
csv_file = []
for f in files:
    csv_file.append(f)

# Read CSVs

In [33]:
%%time
from csv import reader
import pandas as pd
import numpy as np

def read_csv(file_name):
    return pd.read_csv(resources_path+csv_folder+'/'+file_name, names=['type','from_x','from_y','width', 'height', 'name', 'full_width', 'full_height'])

df = pd.DataFrame()
for f in csv_file:
    df = df.append(read_csv(f)).reset_index(drop=True)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 1062: invalid start byte

In [34]:
import random
images = 1500
sections_per_image = 2

selected = set()

selected = random.sample(os.listdir(resources_path+image_folder), min(images, len(os.listdir(resources_path+image_folder))))

xs = np.random.randint(low=200, high=600, size=(len(selected)*sections_per_image))
ys = np.random.randint(low=200, high=400, size=(len(selected)*sections_per_image))
size = np.random.randint(low=50, high=200, size=(len(selected)*sections_per_image))

data = pd.DataFrame({'type': ['none']*len(selected)*sections_per_image, 'from_x': xs, 'from_y': ys,'width':size, 'height': size, 'name': list(selected)*2})
data['full_width'] = 480
data['full_height'] = 800
df = pd.concat([df, data])
df

,type,from_x,from_y,width,height,name,full_width,full_height
0,none,594,383,100,100,19961_2021-02-18_16.33_162711620.png,480,800
1,none,385,279,175,175,19847_2021-02-12_15.15_15954328.png,480,800
2,none,348,253,129,129,19686_2021-01-31_01.26_11846736.png,480,800
3,none,478,244,192,192,19491_2021-01-16_04.15_4154777.png,480,800
4,none,215,353,74,74,19572_2021-01-19_12.55_125035803.png,480,800
...,...,...,...,...,...,...,...,...
2995,none,356,395,65,65,19567_2021-02-20_16.00_155614350.png,480,800
2996,none,407,350,80,80,19901_2021-03-13_22.06_2158022.png,480,800
2997,none,252,265,73,73,19176_2021-01-13_20.02_19582434.png,480,800
2998,none,555,300,84,84,20122_2021-02-15_20.22_202242770.png,480,800
2999,none,264,342,108,108,19383_2021-01-07_17.47_174628550.png,480,800

In [35]:
cols = np.delete(df.columns.values,[0, 5])
df[cols] = df[cols].apply(pd.to_numeric)
df1 = df.drop(columns=['full_width', 'full_height'])
df1

,type,from_x,from_y,width,height,name
0,none,594,383,100,100,19961_2021-02-18_16.33_162711620.png
1,none,385,279,175,175,19847_2021-02-12_15.15_15954328.png
2,none,348,253,129,129,19686_2021-01-31_01.26_11846736.png
3,none,478,244,192,192,19491_2021-01-16_04.15_4154777.png
4,none,215,353,74,74,19572_2021-01-19_12.55_125035803.png
...,...,...,...,...,...,...
2995,none,356,395,65,65,19567_2021-02-20_16.00_155614350.png
2996,none,407,350,80,80,19901_2021-03-13_22.06_2158022.png
2997,none,252,265,73,73,19176_2021-01-13_20.02_19582434.png
2998,none,555,300,84,84,20122_2021-02-15_20.22_202242770.png
2999,none,264,342,108,108,19383_2021-01-07_17.47_174628550.png

# Small correction before extraction

In [36]:
%%time
def center_in_square(row):
    diff = row['width'] - row['height']
    if diff > 0:
        row['from_y'] -= int(abs(diff)/2)
        row['height'] = row['width']
    elif diff<0:
        row['from_x'] -= int(abs(diff)/2)
        row['width'] = row['height']
    return row

df1 = df1.apply(center_in_square, axis=1)

neg1 = df1['from_x']<0
neg2 = df1['from_y']<0
to_remove = np.logical_or(neg1, neg2)
df1 = df1[~to_remove]

df1['to_x'] = df1['from_x'] + df1['width']
df1['to_y'] = df1['from_y'] + df1['height']
df1

CPU times: user 185 ms, sys: 16.2 ms, total: 201 ms
Wall time: 213 ms

,type,from_x,from_y,width,height,name,to_x,to_y
0,none,594,383,100,100,19961_2021-02-18_16.33_162711620.png,694,483
1,none,385,279,175,175,19847_2021-02-12_15.15_15954328.png,560,454
2,none,348,253,129,129,19686_2021-01-31_01.26_11846736.png,477,382
3,none,478,244,192,192,19491_2021-01-16_04.15_4154777.png,670,436
4,none,215,353,74,74,19572_2021-01-19_12.55_125035803.png,289,427
...,...,...,...,...,...,...,...,...
2995,none,356,395,65,65,19567_2021-02-20_16.00_155614350.png,421,460
2996,none,407,350,80,80,19901_2021-03-13_22.06_2158022.png,487,430
2997,none,252,265,73,73,19176_2021-01-13_20.02_19582434.png,325,338
2998,none,555,300,84,84,20122_2021-02-15_20.22_202242770.png,639,384
2999,none,264,342,108,108,19383_2021-01-07_17.47_174628550.png,372,450

# Extract subsections

In [37]:
%%time
import cv2

def extract_subsection(row):
    img = cv2.imread(resources_path+image_folder+'/'+row['name'], 0)
    
    if img is None:
        return np.nan
    
    subsect = img[row['from_y']:row['to_y'], row['from_x']:row['to_x']]
    # In case the crop was near an edge, creating the square could make it go outside image
    if subsect.shape[0] != subsect.shape[1]:
        diff = subsect.shape[0] - subsect.shape[1]
        if diff<0:
            subsect = np.pad(subsect, ((0, abs(diff)),(0,0)),constant_values=0)
        else:
            subsect = np.pad(subsect, ((0, 0),(0, abs(diff))),constant_values=0)
    return subsect

df1['subsection'] = df1.apply(extract_subsection, axis=1)
df1 = df1.dropna()
df1

CPU times: user 20.2 s, sys: 2.41 s, total: 22.6 s
Wall time: 31.5 s

,type,from_x,from_y,width,height,name,to_x,to_y,subsection
0,none,594,383,100,100,19961_2021-02-18_16.33_162711620.png,694,483,"[[54, 50, 49, 50, 50, 55, 56, 46, 40, 36, 33, ..."
1,none,385,279,175,175,19847_2021-02-12_15.15_15954328.png,560,454,"[[177, 169, 167, 172, 180, 177, 166, 156, 150,..."
2,none,348,253,129,129,19686_2021-01-31_01.26_11846736.png,477,382,"[[76, 76, 78, 82, 90, 96, 102, 108, 114, 120, ..."
3,none,478,244,192,192,19491_2021-01-16_04.15_4154777.png,670,436,"[[100, 89, 81, 69, 84, 98, 98, 76, 64, 101, 11..."
4,none,215,353,74,74,19572_2021-01-19_12.55_125035803.png,289,427,"[[59, 50, 45, 43, 46, 51, 54, 55, 56, 60, 61, ..."
...,...,...,...,...,...,...,...,...,...
2995,none,356,395,65,65,19567_2021-02-20_16.00_155614350.png,421,460,"[[49, 46, 46, 47, 51, 52, 54, 55, 57, 59, 60, ..."
2996,none,407,350,80,80,19901_2021-03-13_22.06_2158022.png,487,430,"[[128, 136, 141, 144, 143, 140, 139, 138, 137,..."
2997,none,252,265,73,73,19176_2021-01-13_20.02_19582434.png,325,338,"[[35, 34, 29, 24, 25, 26, 27, 28, 25, 21, 19, ..."
2998,none,555,300,84,84,20122_2021-02-15_20.22_202242770.png,639,384,"[[30, 30, 32, 36, 42, 43, 45, 45, 37, 24, 26, ..."
2999,none,264,342,108,108,19383_2021-01-07_17.47_174628550.png,372,450,"[[30, 29, 27, 27, 27, 25, 21, 17, 16, 14, 11, ..."

In [38]:
print(df1['type'].unique())

['none']

In [39]:
df1 = df1.replace({'Head':'head','Arms':'arm','Spine ':'spine','Legs':'leg','Feet':'foot','Spine':'spine', 'Hands':'hand'})
print(df1['type'].unique())
df1

/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/pandas/core/array_algos/replace.py:84: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  op = lambda x: operator.eq(x, b)

['none']

,type,from_x,from_y,width,height,name,to_x,to_y,subsection
0,none,594,383,100,100,19961_2021-02-18_16.33_162711620.png,694,483,"[[54, 50, 49, 50, 50, 55, 56, 46, 40, 36, 33, ..."
1,none,385,279,175,175,19847_2021-02-12_15.15_15954328.png,560,454,"[[177, 169, 167, 172, 180, 177, 166, 156, 150,..."
2,none,348,253,129,129,19686_2021-01-31_01.26_11846736.png,477,382,"[[76, 76, 78, 82, 90, 96, 102, 108, 114, 120, ..."
3,none,478,244,192,192,19491_2021-01-16_04.15_4154777.png,670,436,"[[100, 89, 81, 69, 84, 98, 98, 76, 64, 101, 11..."
4,none,215,353,74,74,19572_2021-01-19_12.55_125035803.png,289,427,"[[59, 50, 45, 43, 46, 51, 54, 55, 56, 60, 61, ..."
...,...,...,...,...,...,...,...,...,...
2995,none,356,395,65,65,19567_2021-02-20_16.00_155614350.png,421,460,"[[49, 46, 46, 47, 51, 52, 54, 55, 57, 59, 60, ..."
2996,none,407,350,80,80,19901_2021-03-13_22.06_2158022.png,487,430,"[[128, 136, 141, 144, 143, 140, 139, 138, 137,..."
2997,none,252,265,73,73,19176_2021-01-13_20.02_19582434.png,325,338,"[[35, 34, 29, 24, 25, 26, 27, 28, 25, 21, 19, ..."
2998,none,555,300,84,84,20122_2021-02-15_20.22_202242770.png,639,384,"[[30, 30, 32, 36, 42, 43, 45, 45, 37, 24, 26, ..."
2999,none,264,342,108,108,19383_2021-01-07_17.47_174628550.png,372,450,"[[30, 29, 27, 27, 27, 25, 21, 17, 16, 14, 11, ..."

# Save image to appropriate folder

In [40]:
df1 = df1.reset_index(drop=True)
print(df1.iloc[123].name)

123

In [41]:
%%time
from matplotlib import pyplot
from pathlib import Path


def save_subsection(row):
    path = resources_path+'/features/'+row['type']
    Path(path).mkdir(parents=True, exist_ok=True)
    pyplot.imsave(path+'/'+str(row.name)+'~'+row['name'], row['subsection'])

df1.apply(save_subsection, axis=1)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/PIL/ImageFile.py", line 504, in _save
    fh = fp.fileno()
AttributeError: '_idat' object has no attribute 'fileno'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/IPython/core/magics/execution.py", line 1329, in time
    out = eval(code_2, glob, local_ns)
  File "<timed exec>", line 10, in <module>
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py", line 8740, in apply
    return op.apply()
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/pandas/core/apply.py", line 688, in apply
    return self.apply_standard()
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/pandas/core/apply.py", line 812, in apply_standard
    results, res_index = self.apply_series_generator()
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/pandas/core/apply.py", line 828, in apply_series_generator
    results[i] = self.f(v)
  File "<timed exec>", line 8, in save_subsection
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/matplotlib/pyplot.py", line 2412, in imsave
    return matplotlib.image.imsave(fname, arr, **kwargs)
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/matplotlib/image.py", line 1616, in imsave
    image.save(fname, **pil_kwargs)
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/PIL/Image.py", line 2240, in save
    save_handler(self, fp, filename)
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/PIL/PngImagePlugin.py", line 1348, in _save
    ImageFile._save(im, _idat(fp, chunk), [("zip", (0, 0) + im.size, 0, rawmode)])
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/PIL/ImageFile.py", line 518, in _save
    l, s, d = e.encode(bufsize)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2064, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/codingC/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/codingC/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/codingC/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/codingC/opt/anaconda3/lib/python3.8/inspect.py", line 705, in getsourcefile
    if os.path.exists(filename):
  File "/Users/codingC/opt/anaconda3/lib/python3.8/genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

KeyboardInterrupt